.align-top {
  margin-top: 100px;
}

.title {
  font-size: 40px;
  text-align: center;
  color: #333;
}
.align-top {
  margin-top: 100px;
}

.btn-update {
  width: 180px;
  height: 50px;
  border-radius: 15px 0px 15px 0px;
  background-color: lightseagreen;
  font-size: 15px;
  color: #ffffff;
  border: none;
}

.btn-update:hover {
  background-color: #fddd07;
  color: black;
}

h3 {
  border-radius: 4px;
  color: white;
}
