.title {
  font-family: 'Montserrat Black';
  font-size: 40px;
  text-align: center;
  color: #333;
}

.btn-update {
  width: 180px;
  height: 50px;
  border-radius: 15px 0px 15px 0px;
  background-color: lightseagreen;
  font-family: Montserrat SemiBold;
  font-size: 15px;
  color: #ffffff;
}

.btn-update:hover {
  background-color: #fddd07;
  color: black;
}

h3 {
  border-radius: 4px;
  color: white
}
