<div class="container main-content">
  <div class="row">
    <span>
      <span>
        <p class="product-title-price">
          {{ product.name }} | {{ product.price | currency: "USD" }}
        </p>
        <p>✔ Fără zahăr adăugat, conservanți, coloranți.</p>
        <p>✔ Fără chimicale, valabilitate 20 zile.</p>
        <p>✔ Fără ambalaje de plastic.</p>
        <p>✔ Copți cu grijă în laboratorul nostru.</p>
        <p>✔ Livrare în toată România.</p>
        <p>✔ 100% ingrediente naturale.</p>
      </span>
      <img alt="" class="image" src="{{ product.image }}" />
    </span>

    <div class="text-right" style="padding: 0px 25px 25px 0px">
      <button (click)="addToCart()" class="btn btn-cart">ADD TO CART</button>
    </div>
  </div>
</div>

<div class="container">
  <br />
  <div class="text-center" style="margin-bottom: 130px">
    <button
      class="btn btn-back"
      routerLink="/productsCategory/{{ product.category.id }}"
    >
      GO TO PRODUCTS
    </button>
  </div>
</div>