<div *ngIf="product$ | async as product" class="pt-5 align-top">
  <div class="container main-content">
    <div class="d-flex">
      <img alt="" class="image img-responsive" src="{{ product.image }}" />
      <div class="pl-5">
        <div class="d-flex home-page-link pt-3 m-0">
          <p
            class="m-0 home-page-link-redirect"
            (click)="navigateToHome(product)"
          >
            Home Page : {{ product.category.name }}
          </p>
          : {{ product.name }}
        </div>
        <div class="product-title">
          {{ product.name }} | {{ product.price.toFixed(2) }} RON
        </div>
        <div class="d-flex mt-4">
          <div>
            <p class="m-0">✔ Fără zahăr adăugat, conservanți, coloranți.</p>
            <p class="m-0">✔ Fără chimicale, valabilitate 20 zile.</p>
            <p class="m-0">✔ Fără ambalaje de plastic.</p>
          </div>
          <div>
            <p class="m-0">✔ Copți cu grijă în laboratorul nostru.</p>
            <p class="m-0">✔ Livrare în toată România.</p>
            <p class="m-0">✔ 100% ingrediente naturale.</p>
          </div>
        </div>
        <div class="d-flex align-items-center pt-5 mt-2">
          <div class="d-flex align-items-center pr-5 mr-5">
            <div>
              <button (click)="onDecrement()" class="btn btn-decrement p-0">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <div class="quantity">{{ quantity }}</div>
            <div>
              <button (click)="onIncrement()" class="btn-increment text-center">
                <i class="fas fa-plus"></i>
              </button>
            </div>
            <div class="product-price">{{ totalPrice.toFixed(2) }} RON</div>
          </div>
          <div class="d-flex">
            <button (click)="navigateToCart()" class="btn-see-cart">
              SEE TO CART
            </button>
            <button (click)="addToCart(product)" class="btn-add-cart ml-2">
              ADD TO CART
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
