<div class="pt-5 align-top">
  <div class="container main-content position-static">
    <div class="row">
      <img alt="" class="image img-responsive" src="{{ product.image }}" />
      <span class="pl-5">
        <h3 class="pt-2">
          {{ product.name }} | {{ product.price | currency: "USD" }}
        </h3>
        <p>✔ Fără zahăr adăugat, conservanți, coloranți.</p>
        <p>✔ Fără chimicale, valabilitate 20 zile.</p>
        <p>✔ Fără ambalaje de plastic.</p>
        <p>✔ Copți cu grijă în laboratorul nostru.</p>
        <p>✔ Livrare în toată România.</p>
        <p>✔ 100% ingrediente naturale.</p>
      </span>
    </div>
    <button (click)="addToCart()" class="position-relative btn-cart">
      ADD TO CART
    </button>
  </div>
</div>

<div class="container">
  <div class="text-center pt-5">
    <button
      class="btn-back"
      routerLink="/products/category/{{ product.category.name }}"
    >
      GO TO PRODUCTS
    </button>
  </div>
</div>
