<div class="text-center">
  <p class="title">ADD A NEW PRODUCT!</p>
</div>

<div class="container text-center" style="padding-bottom: 260px">
  <form #productForm="ngForm" (ngSubmit)="createProduct(productForm.value)">
    <div>
      <div class="text-center">
        <br />
      </div>
      <div class="form-group">
        <div class="row text">
          <div class="col-sm-6">
            <div>
              <label for="name">Name*</label>
              <input
                type="text"
                class="form-control"
                ngModel
                #nameInput="ngModel"
                required
              />
            </div>
            <div class="form-group">
              <label for="description">Description*</label>
              <textarea
                type="text"
                class="form-control"
                ngModel
                #descriptionInput="ngModel"
                required
              ></textarea>
            </div>
            <div class="form-group">
              <label for="price">Price*</label>
              <input
                type="number"
                class="form-control"
                ngModel
                #priceInput="ngModel"
                required
              />
            </div>

            <label>Category*</label>
            <select
              (change)="handleCategory($event)"
              class="select-option form-control"
            >
              <option
                *ngFor="let tempCategory of categories"
                [value]="tempCategory.name"
                class="option"
              >
                {{ tempCategory.name }}
              </option>
              <option [disabled]="!edited">
                <button (click)="addSelect()">Select Category...</button>
              </option>
            </select>

            <div class="form-group">
              <div class="image-upload">
                <label>Upload Image*</label>
                <input
                  type="file"
                  (change)="onFileSelected($event)"
                  class="form-control"
                  ngModel
                  name="image"
                  required
                />
              </div>
            </div>
          </div>
          <img
            class="img-responsive"
            [src]="selectedFile"
            alt="upload Image"
            style="width: 385px; height: 380px"
          />
        </div>
      </div>
    </div>
    <button class="btn btn-save text-center" type="submit">Save Product</button>
  </form>
</div>
