<div class="orders-list-container p-0 ml-3">
  <div class="order-list p-3">
    <table class="w-100">
      <thead>
        <tr>
          <th class="pb-2" width="20%">Order No</th>
          <th class="pb-2" width="23%">Date</th>
          <th class="pb-2" width="17%">Status</th>
          <th class="pb-2" width="35%">Price</th>
          <th class="pb-2" width="5%">Action</th>
        </tr>
      </thead>

      <tr *ngFor="let order of orders$ | async">
        <td class="pb-1">
          <div id="order-number">nr. {{ order.id }}</div>
        </td>
        <td>
          <div>
            {{ order.date.format("DD/MM/YYYY") }}
          </div>
        </td>
        <td>
          <div>
            {{ order.status }}
          </div>
        </td>
        <td>
          <div>
            {{ order.totalPrice.toFixed(2) }} RON for
            {{ order.products.length }} products
          </div>
        </td>
        <td>
          <div id="order-number">See</div>
        </td>
      </tr>
    </table>
  </div>
</div>
