.orders-list-container {
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px 10px;
  color: #f2e8df;
  border: 1px solid #ffe1d9;
  width: 100%;
  min-height: 200px;
  .order-list {
    color: black;
    font-size: 15px;

    #order-number {
      color: #ff3c00;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: #fddd07;
      }
    }
  }
}
