<div class="container">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div *ngIf="(orders$ | async).length > 0">
        <div *ngFor="let order of orders$ | async" class="container order-list">
          <div *ngIf="order.products.length !== 0">
            <div class="mt-3">
              <div class="text-left">
                <p>Order nr: #{{ order.id }}</p>
                <p>Order placed on: {{ order.date }}</p>
                <p>Status: {{ order.status }}</p>

                <hr />
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th width="20%">Product Image</th>
                      <th width="50%">Product Detail</th>
                      <th width="30%">Price Detail</th>
                    </tr>
                  </thead>

                  <tr *ngFor="let tempCartItem of order.products" class="pb-2">
                    <td>
                      <img
                        class="img-responsive"
                        src="{{ tempCartItem.image }}"
                        width="100px"
                      />
                    </td>
                    <td class="text-center">
                      <p>{{ tempCartItem.name }}</p>
                    </td>
                    <td class="text-center">
                      <p>{{ tempCartItem.price | currency: "USD" }}</p>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2"></td>
                    <td class="text-center">
                      <br />
                      <p>Subtotal: {{ order.totalPrice | currency: "USD" }}</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="(orders$ | async).length === 0">
  <h3>
    Your order list is empty!<br />
    Go fill with some
    <a routerLink="/products/category/1">products!</a>
  </h3>
</div>
