.product-box {
  min-width: 360px !important;
  height: 460px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px;
  color: #f2e8df;
  border: 1px solid #ffe1d9;
  margin: 0 20px 35px 0;
  &:hover {
    box-shadow: 1px 1px 20px 1px;
    color: #ffcdbf;
  }

  p {
    cursor: pointer;
  }

  .btn-delete {
    position: absolute;
    height: 45px;
    width: 45px;
    top: 0;
    right: -1px;
    color: white;
    font-size: 16px;
    border-radius: 0px 15px 0px 15px;
    border: none;
    cursor: pointer;
    background-color: red;
    color: #ffffff;
    &:hover {
      background-color: #fddd07;
      color: black;
    }
  }
  .btn-edit {
    position: absolute;
    left: 0;
    width: 130px;
    height: 50px;
    border-radius: 0px 15px 0px 15px;
    background-color: darkblue;
    font-size: 13px;
    color: #ffffff;
    border: none;
    &:hover {
      background-color: #fddd07;
      color: black;
    }
  }

  .outer-box {
    display: grid;
    place-content: center;
  }

  .image-pic {
    left: 0;
    width: 359px !important;
    margin-left: -15px;
    height: 300px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
  }
  .product-price {
    font-size: 17px;
    color: #212f49;
  }

  .btn-cart {
    position: absolute;
    right: 0;
    width: 130px;
    height: 50px;
    background-color: #ff3c00;
    border-radius: 15px 0px 15px 0px;
    font-size: 13px;
    color: #ffffff;
    border: none;
    &:hover {
      background-color: #fddd07;
      color: black;
    }
  }

  .btn-add {
    width: 180px;
    height: 50px;
    border-radius: 15px 0px 15px 0px;
    background-color: lightseagreen;
    font-size: 15px;
    color: #ffffff;
    border: none;
    &:hover {
      background-color: #fddd07;
      color: black;
    }
  }
}
