<div class="row">
  <div
    *ngFor="
      let product of products | slice: (page - 1) * pageSize:page * pageSize
    "
    class="product-box p-0"
  >
    <div>
      <app-dropdown
        *ngIf="isAdminUser"
        (editClicked)="onEdit($event, product)"
        (deleteClicked)="onDelete($event, product)"
      ></app-dropdown>
      <a (click)="onViewDetails(product)">
        <img class="image-pic img-responsive" [src]="product.image"
      /></a>
    </div>
    <div
      class="d-flex justify-content-between align-items-center px-2 place-row-one"
    >
      <div class="product-title">
        <p class="m-0">{{ product.name }}</p>
      </div>

      <div class="product-details">
        <p class="m-0">300 gr.</p>
        <p class="m-0">177kcal/100gr.</p>
      </div>
    </div>

    <div
      class="d-flex align-items-center justify-content-between place-row-two"
    >
      <div class="product-price text-center pl-3">
        <p class="m-0">{{ product.price }} RON</p>
      </div>
      <div class="">
        <button class="p-0 btn-details" (click)="onViewDetails(product)">
          View Details
        </button>
      </div>
      <button class="btn-cart" (click)="onAddToCart(product)">
        ADD TO CART
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <ngb-pagination
      *ngIf="products.length > pageSize"
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="products.length"
      [maxSize]="3"
    ></ngb-pagination>
  </div>
</div>
