<div class="container">
  <div class="container-fluid">
    <div>
      <table class="table table-bordered">
        <thead style="background: #212f49; color: white">
          <tr>
            <th width="20%">Product Image</th>
            <th width="50%">Product Detail</th>
            <th width="30%">Cart Detail</th>
          </tr>
        </thead>
        <tr
          *ngFor="let item of cartItems"
          style="border-bottom: 3px solid white; padding-bottom: 10px"
        >
          <td>
            <img class="img-responsive" src="{{ item.image }}" width="150px" />
          </td>
          <td class="text-center">
            <p>{{ item.name }}</p>
            <p>{{ item.price | currency: "USD" }}</p>
          </td>
          <td>
            <div>
              <label>Quantity:</label>
              <div class="row pl-2">
                <span>
                  <button
                    (click)="decrementQuantity(item)"
                    class="btn btn-decrement"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                </span>
                <span class="pl-5 pr-5">{{ item.quantity }}</span>
                <span>
                  <button
                    (click)="incrementQuantity(item)"
                    class="btn-increment"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </span>
                <span class="pl-4">
                  <button (click)="remove(item)" class="btn-remove">
                    REMOVE
                  </button>
                </span>
              </div>
            </div>

            <p class="">
              Subtotal: {{ item.quantity * item.price | currency: "USD" }}
            </p>
          </td>
          <br />
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>
            <p>Total Quantity: {{ totalQuantity }}</p>
            <p *ngIf="totalPrice <= 100">Shipping: 15$</p>
            <p *ngIf="totalPrice > 100">Shipping: FREE</p>
            <p>Total Price: {{ totalPrice | currency: "USD" }}</p>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="cartItems.length == 0" class="text-center">
      <p id="text">Your cart is empty!</p>
      <p id="text">
        Go fill with some
        <a routerLink="/products/category/Ovaz">products!</a>
      </p>
    </div>
  </div>
</div>
<form (ngSubmit)="saveOrder()" [formGroup]="orderForm">
  <div *ngIf="cartItems.length !== 0" class="container">
    <div class="text-center">
      <button class="btn-place-order" type="submit">PLACE ORDER</button>
    </div>
  </div>
</form>
