<ngx-loading-x [show]="isLoading$ | async"></ngx-loading-x>
<div class="container">
  <div *ngIf="(user$ | async).role === ADMIN" class="col-md-12 text-right">
    <button
      class="btn-add"
      (click)="initStateForSaveMode()"
      routerLink="/edit/0"
    >
      ADD PRODUCT
    </button>
  </div>

  <div class="form-inline justify-content-center">
    <table>
      <tr>
        <th
          *ngFor="let category of categories$ | async"
          class="text-center pl-4 pr-4"
        >
          <p
            class="category-list"
            [routerLink]="['/products/category/', category.name]"
            (click)="changeCategory(category)"
            routerLinkActive="active-link"
          >
            {{ category.name | uppercase }}
          </p>
        </th>
      </tr>
    </table>
  </div>

  <div class="row pt-5">
    <div *ngFor="let product of products$ | async" class="product-box col-md-3">
      <div class="">
        <a
          (click)="initStateForEditMode(product)"
          [routerLink]="['/product/', product.id]"
        >
          <img class="image-pic img-responsive" [src]="product.image"
        /></a>
        <button
          *ngIf="(user$ | async).role === ADMIN"
          (click)="deleteProduct(product.id)"
          [routerLink]="['/products/category/', product.category.id]"
          class="btn-delete"
        >
          <i class="fa fa-trash"></i>
        </button>
      </div>
      <div class="text-left">
        <br />
        <p class="product-title">{{ product.name }}</p>
        <p class="product-price">{{ product.price | currency: "USD" }}</p>
      </div>

      <div class="row">
        <button
          *ngIf="(user$ | async).role === ADMIN"
          class="btn-edit"
          [routerLink]="['/edit/', product.id]"
          (click)="initStateForEditMode(product)"
        >
          EDIT
        </button>
        <button (click)="addToCart(product)" class="btn-cart">
          ADD TO CART
        </button>
      </div>
    </div>
  </div>
</div>
