.btn-add {
  width: 180px;
  height: 50px;
  border-radius: 15px 0px 15px 0px;
  background-color: lightseagreen;
  font-family: Montserrat SemiBold;
  font-size: 15px;
  color: #ffffff;
  border: none;
  &:hover {
    background-color: #fddd07;
    color: black;
  }
}

.outer-box {
  display: grid;
  place-content: center;

  p {
    cursor: pointer;
  }

  table {
    border-collapse: separate;
    border: solid #ffe1d9 1px;
    border-radius: 30px;
    -moz-border-radius: 6px;
    background-color: white;

    th {
      font-family: "Montserrat";
      border-radius: 30px;
      border-top: none;
      height: 65px;
      font-size: 15px;
      font-weight: 700;
      p {
        padding-top: 15px;
      }
    }
    td:first-child,
    th:first-child {
      border-left: none;
    }
  }
}
.active-link {
  color: #ff3c00;
}

.product-box {
  min-width: 360px !important;
  height: 460px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px;
  color: #f2e8df;
  border: 1px solid #ffe1d9;
  margin: 0 20px 35px 0;
  &:hover {
    box-shadow: 1px 1px 20px 1px;
    color: #ffcdbf;
  }
}

p {
  cursor: pointer;
}

.btn-delete {
  position: absolute;
  font-family: Montserrat SemiBold;
  height: 45px;
  width: 45px;
  top: 0;
  right: -1px;
  color: white;
  font-size: 16px;
  border-radius: 0px 15px 0px 15px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: #ffffff;
}

.btn-delete:hover,
.btn-edit:hover,
.btn-cart:hover {
  background-color: #fddd07;
  color: black;
}

.btn-edit {
  width: 130px;
  height: 50px;
  border-radius: 0px 15px 0px 15px;
  background-color: darkblue;
  font-family: Montserrat SemiBold;
  font-size: 13px;
  color: #ffffff;
  border: none;
}

.outer-box {
  display: grid;
  place-content: center;
}

.image-pic {
  left: 0;
  width: 359px !important;
  margin-left: -15px;
  height: 300px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.product-title {
  font-family: Montserrat SemiBold;
  font-size: 18px;
  color: #212f49;
  &:hover {
    color: #ff3c00;
  }
}

.product-price {
  font-family: Montserrat SemiBold;
  font-size: 17px;
  color: #212f49;
}

.btn-cart {
  width: 130px;
  height: 50px;
  background-color: #ff3c00;
  font-family: Montserrat SemiBold;
  border-radius: 15px 0px 15px 0px;
  font-size: 13px;
  color: #ffffff;
  border: none;
  margin-left: 98px;
}
