<ngx-loading-x [show]="isLoading$ | async"></ngx-loading-x>
<div class="container align-top">
  <div class="title text-center p-3">You eat better, you feel better!</div>

  <app-category
    [categories]="categories$ | async"
    [selectedCategory]="selectedCategory$ | async"
    (emitedCategory)="changedCategory($event)"
  >
  </app-category>

  <app-product
    [products]="products$ | async"
    [isUserAdmin]="isUserAdmin$ | async"
    (viewDetailstClicked)="onViewDetails($event)"
    (addToCartClicked)="onAddToCart($event)"
    (editClicked)="onEdit($event)"
    (deletetClicked)="onDelete($event)"
  >
  </app-product>
</div>
