.nav-bar {
  background-color: white;
  padding: 10px;
  border: 1px solid #f2e8df;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: black;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 65px;

  p {
    cursor: pointer;
    margin: 10px 20px 10px 10px;
  }

  p:hover {
    color: #ff3c00;
  }

  .container-flex {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 40px;
    width: 150px;
    height: 45px;
  }

  // .dropdown {
  //   position: relative;
  //   display: inline-block;
  // }

  .drop-btn {
    background-color: white;
    border: none;
  }

  .dropdown-content {
    //display: none;
    //position: absolute;
    font-size: 15px;
    font-weight: bold;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    //z-index: 1;
  }

  // .dropdown-content p {
  //   padding: 10px 0 5px 10px;
  //   margin: 0;
  //   text-decoration: none;
  //   display: block;
  // }

  // .dropdown-content :hover {
  //   background-color: #b9b9b9;
  //   color: black;
  // }

  // .dropdown:hover .dropdown-content {
  //   display: block;
  // }

  .btn-login {
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background-color: darkblue;
    font-size: 15px;
    color: #ffffff;
    border: none;
    margin-left: -50px;
  }

  .btn-login:hover,
  .btn-register:hover {
    background-color: #fddd07;
    color: black;
  }

  .btn-register {
    width: 130px;
    height: 40px;
    background-color: #ff3c00;
    border-radius: 30px;
    font-size: 15px;
    color: #ffffff;
    border: none;
    margin-left: 10px;
  }
}
img {
  cursor: pointer;
}
