<div class="nav-bar">
  <div class="container">
    <div class="row d-flex">
      <div class="row d-flex">
        <img
          class="img-responsive logo"
          routerLink="/products/category/Ovaz"
          alt="logo"
          src="/assets/images/logo.jpg"
        />
        <div class="main-option">
          <p routerLink="#">HOME</p>
        </div>
        <div class="dropdown">
          <p class="main-option">PRODUCTS</p>
          <div class="dropdown-content">
            <p
              *ngFor="let category of categories$ | async"
              routerLink="/products/category/{{ category.name }}"
            >
              {{ category.name }}
            </p>
          </div>
        </div>
        <div class="main-option">
          <p routerLink="#">CONTACT</p>
        </div>
        <div class="main-option">
          <p routerLink="#">BLOG</p>
        </div>
      </div>
      <div
        class="row d-flex"
        [ngStyle]="{ 'margin-left': !showButtons ? '120px' : '0px' }"
      >
        <div class="second-option">
          <p *ngIf="!showButtons" routerLink="/orders/2">My Orders</p>
        </div>

        <div class="dropdown second-option">
          <p *ngIf="!showButtons" routerLink="#">
            Settings
            <i class="pl-1 fa fa-cogs"></i>
          </p>
          <div class="dropdown-content">
            <p *ngIf="!showButtons">
              My Account <i class="pl-2 fas fa-user"></i>
            </p>
            <p (click)="initStateForSaveMode()" routerLink="/edit/0">
              Add Product<i class="pl-2 fas fa-plus"></i>
            </p>
            <p *ngIf="!showButtons" class="" (click)="logOutUser()">
              Log out <i class="fas fa-sign-out-alt pl-2"></i>
            </p>
          </div>
        </div>
        <div class="second-option">
          <p routerLink="/cart-details">
            My Cart
            <i class="fas fa-cart-plus pr-2"> {{ totalQuantity }}</i>
          </p>
        </div>
        <div>
          <button *ngIf="showButtons" class="btn-login" routerLink="/login">
            LOGIN
          </button>
          <button
            *ngIf="showButtons"
            class="btn-register ml-2"
            routerLink="/register"
          >
            REGISTER
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
